# -*- coding: utf-8 -*-
#
import sys

sys.path.insert(0, '{{ jupyterhub_config_dir }}')

c = get_config()
c.JupyterHub.ip = u'{{ ansible_default_ipv4.address }}'
c.JupyterHub.port = 8000
c.JupyterHub.cookie_secret_file = u'{{ jupyterhub_srv_dir }}/cookie_secret'
c.JupyterHub.db_url = u'{{ jupyterhub_srv_dir }}/jupyterhub.sqlite'
c.JupyterHub.confirm_no_ssl = True
c.ConfigurableHTTPProxy.auth_token = u'{{ configproxy_auth_token }}'

{% if not cleanup_on_shutdown %}
c.JupyterHub.cleanup_proxy = False
c.JupyterHub.cleanup_servers = False
{% endif %}

# A list of jupyterhub groups to create.
c.JupyterHub.load_groups = {
{%- for group in jupyterhub_groups -%}
    '{{group.name}}': [
{%- for member in group.members -%}
        '{{member}}',
{%- endfor -%}
    ],
{% endfor -%}
}

c.JupyterHub.authenticator_class = u'remote_user_auth.RemoteUserAuthenticator'
c.Authenticator.admin_users = admin = set()
c.Authenticator.whitelist = whitelist = set()
c.JupyterHub.admin_access = True

c.LocalAuthenticator.create_system_users = True

{% if jupyterhub_admin_users|length %}
c.Authenticator.admin_users = {
{%- for user in jupyterhub_admin_users[:-1] -%}
'{{user}}',
{%- endfor -%}
'{{-jupyterhub_admin_users[-1]-}}'}
{% else %}
c.Authenticator.admin_users = set()
{% endif %}

{% if jupyterhub_users|length %}
c.Authenticator.whitelist = {
{%- for user in jupyterhub_users[:-1] -%}
'{{user}}',
{%- endfor -%}
'{{-jupyterhub_users[-1]-}}'}
{% else %}
c.Authenticator.whitelist = set()
{% endif %}

