<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="EYlogo.ico" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>BADM RStudio Server</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  
  <body>
    <div>
      <h2>
      RStudio Server for Business Administration Courses
      </h2>
      <br>
    </div>
    <div>
      <br>
      Click the button below to access the server. You may need to authenticate with Shibboleth.
      <br>
      <a href="https://{{ fqdn }}/login"><button>Go to RStudio Server</button></a>
    </div>
  </body>
</html>
